@font-face {
    font-family: '작명';
    src: url();
}

.profile{
 width:100px;
 display:block;
 margin-left:auto;
 margin-right:auto;
}
.name{
    letter-spacing: 1px;
    text-align: center;
}
.content{
    text-align: center;
}
.box{
    width:200px;
    background-color: cadetblue;
    margin:10px;
    padding: 40px;
    border-radius: 15px;
    margin-left:auto;
    margin-right:auto;
    color:white;
    box-shadow: 5px 5px 5px 5px black;
}
.container{
    width:800px;
}
.header{
    width:100%;
    height:100px;
    background:aquamarine;
}
.left-menu{
    width:20%;
    height:400px; 
    background: cornflowerblue;
    display: inline-block;
    vertical-align: top;
    /* float:left; */
}
.right{
    width:80%;
    height: 400px;
    background: coral;
    /* float:left; */
    display: inline-block;
}
.footer{
    width: 100%;
    height: 100px;
    background: grey;
    /* clear:both; */
}

td{
    border-bottom:1px solid #c2d3de;
}

.form-background{
    width: 100%;
    background: #c2d3de;
    padding: 30px;
}
.form-main{
    max-width: 600px;
    padding: 20px;
    width: 60%;
    margin: auto;
}
.center{
    text-align: center;
    
}
td{
    padding: 5px 10px;
    text-align: center;
}
.tb-img{
    width: 100px;
}
.amount{
    text-align: right;
}
.model{
    text-align: left;
    color: #c2d3de;
}
.pp{
    text-align: left;
    padding-right: 100px;
}
.cart-table{
    width: 100%;
    max-width: 700%;
    margin: auto;
    background: white;
    border-radius: 10px;
}
.cart-table td:nth-child(2){
    width: 900px;
}
.cart-table td,.cart-table th{
    padding:15px;
    text-align: center;
}
.cell-long{
    width: 300px;
}
.pay-button{
    position: relative;
    left:220px;
    background-color :rgb(67, 67, 100);
    color: white;
    padding:15px 25px;
    border:1px solid #c2d3de;
    border-radius: 5px;
    cursor: pointer;
}
.pay-button:hover{
    background-color: chocolate;
}
.pay-button:active{
    background-color: brown;
    border: 2px solid black
}
/* .input-test{
    font-size: 20px;
}
.input-test:focus{
    border:2px solid red;
} */
.custom{
    text-decoration: none;
}
.custom:link{
    color:violet
}
.custom-link:visited{
    color: black;
}
p,h4,h3,h2,h1,span{
    transform: rotate(0.03deg);
}