.div,input,textarea{
    box-sizing:border-box;
}
.container{
    width:800px;
    font-family: "nanumsquare";
    margin-left:auto;
    margin-right:auto;
}
.left{
    width:75%;
    height: 300px;
    float:left;

}
.right{
    width:25%;
    height: 300px;
    float: left;

}
.up{
    height: 30%;
    margin: 10px;
}
.down{
    height: 60%;
    margin:10px;
    float:left;
}
.blog-post{
    float:left;
}
.blog-profile{
width: 30px;
 border-radius: 70%;
float:left;
}
.navbar>li{
    display: inline-block;
}
.navbar a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    text-align: center;
    background: #eee;
    padding:10px;
    border-radius: 5px;
}
.main-background{
    width:100%;
    height:500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:1px;
    position: relative;
}
.main-title{
    color: white;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}
.sub-title{
    color:white;
    font-size:30px;
    font-family: "gulim";
    margin-top: 100px;
    text-align: center;
}
.button{
   padding:15px;
   border:none;
    border-radius: 5px;
    font-size:20px;
    background: white;
    position:absolute;
    left:0;
    right: 0;
    margin: auto;
    width: 150px;
}
.button:hover{
    background:chocolate
}
.button:active{
    background:chocolate;
    border:1px solid red;
}
.main-context{
    background: #eee;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    position:relative;
    text-align: center;
    /* left:0;
    right:0; */
    top:-40px;
    margin:auto;
    z-index: 5;
}
.main-context h3{ 
    text-align: center;
}
.main-context p{
    text-align: center;
    font-family:"nanumsquare";
    margin:10px;
}
.text-input{
    padding:10px;
    font-size: 20px;
    border:1px solid black;
    border-radius: 5px;
}


.form-background{
    background-color:black;
    padding:30px;
}
.form-white{
    background: white;
    padding:30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}
.form-input{
    width:100%
    padding: 10px;
    font-size: 20px;
    border : 1px solid black;
    border-radius: 5px;
}
.w-50{
    width:50%;
    float: left;
}
.both{
    clear: both;
}
.flex-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: pink;
}
.flex-item{
    font-weight: 100px;
    color: white;
    text-align: center;
    width: 100px;
    margin: 5px;
}
.nav-container{
    display: flex;
    height: 50px;
    align-items: center;
    padding: 5px;
    background-color: pink;
}
.nav-item{
    margin-right: 20px;
    color: white;
    font-size: 30px;
}


@media screen and (max-width:1200px){
    .main-title{
        font-size: 30px;
    }
    .nav-item{
        font-size: 12px;
    }
}
.practice-back{
    
}
.practice-table{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top:50px;
    margin-bottom:50px;
   
}
.practice-div{
    float:left;
    width:25%;
}
.w-40{
    padding: 20px;
    padding-right: 43px;
    float: right;
}
.w-submit{
    font-size: 20px;
    color: white;
    padding:5px;
   width: 100px;
   text-align: center;
   background: orange;
    border-radius: 5px;
    border:1px solid white;
}
.w-submit:hover{
    background:rgb(145, 9, 9);
    border:3px solid orange;
}
.practice-div i {
    background-color: burlywood;
    width:100px;
    height:100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

@media screen and (max-width:1200px) {
    .practice-div{
        width: 50%;
    }
    
}
@media screen and (max-width:768px) {
    .practice-div{
        width: 100%;
        
    }
}