.container{
    width:800px;
    font-family: "nanumsquare";
}
.left{
    width:75%;
    height: 300px;
    float:left;

}
.right{
    width:25%;
    height: 300px;
    float: left;

}
.up{
    height: 30%;
    margin: 10px;
}
.down{
    height: 60%;
    margin:10px;
}